h1 {
    color: rgb(72, 255, 0);
    width: 400px;
    text-align: center;
    margin: 0 auto;
    cursor: pointer;
    border: 1px solid rgb(30, 30, 180);
    background-color: rgb(231, 109, 109);
    transition: background-color .5s, color .5s;
    margin-bottom: 20px;
}

li {
    color: blue;
    width: 200px;
    text-align: center;
    margin: 0 auto;
    cursor: pointer;
    border: 1px solid rgb(100, 100, 255);
    background-color: white;
    transition: background-color .5s, color .5s;
    margin-bottom: 20px;
}